
#clock {
   
   margin-top: 5%;
   font-size:  40px;
   font-family: Baskerville, Georgia;
}

#timedate {
  font: small-caps bold 43px/150% Arial, Helvetica, sans-serif;
  text-align:left;
  width: 50%;
  margin: 20px auto;
  color:white;
  padding: 20px;
}